{ % load static % }
<!doctype html>
<html lang="en">
<head>
<title>projet</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: rgb(125, 125, 157);">
<div id="header">
    <div class="container">
            <nav class="navbar navbar-expand-lg text-weight navbar-light fixed-top" style="background-color: rgb(75, 75, 99);"> 
                <a class="navbar-brand" style="color: rgb(0, 0, 0); font-size: x-large;" href="{% url 'index' %}"><b>PROJET</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        <div class="dropdown mx-4">
                            <button class="btn text-white" style="background-color: rgb(66, 66, 77);" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Create</b>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'create_customer'%}">Client</a>
                            <a class="dropdown-item" href="{% url 'create_product'%}">Product</a>
                            <a class="dropdown-item" href="{% url 'orders_page'%}">Order</a>
                            </div>
                        </div>
                        </li>
                    <li class="nav-item mx-4">
                    <button class="btn my-2 my-sm-0 text-white" style="background-color: rgb(66, 66, 77);">
                    <a style="text-decoration:none; color: white;" href="{% url 'page_produits'%}"><b>product</b></a>
                    </button> </li>
                    <li class="nav-item mx-4">
                    <button class="btn my-2 my-sm-0 text-white" style="background-color: rgb(66, 66, 77);">
                    <a style="text-decoration:none; color: white;" href="{% url 'orderpage'%}"><b>Order</b></a>
                    </button> </li>
                    <li class="nav-item mx-4">
                    <button class="btn my-2 my-sm-0 text-white" style="background-color: rgb(66, 66, 77);" href="{% url 'index' %}"><b>Home</b></a></button>
                    </li>
                </ul>
                </div>
            </nav>
        </div>
    </div>
    <br><br><br>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>